<a href="https://colab.research.google.com/github/carlospcastro/demo-redi/blob/Andrew%C2%B4s-branch/Python_practice_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
our_class = "Intro to CS"
print(our_class)
my_var = "asdf"
my_mum = my_var
print(my_mum)

c = 2+4


b = c+2


a = 5
b = 5


a += 5


c += 2


d = 4-3



d -= 2


e = 3*9

print(e*a)

print(e*2)
e *=2


e /=2


q = 5


a = 30
mod_output = 30 % 9


my_first_name = "Andrew"
my_last_name = "Ochagla"
print(my_first_name)
print(my_last_name)
print(my_first_name +" " + my_last_name)
my_fullname = "Andrew" + " " + "Ochagla"
print(my_fullname)

my_first_name += " " + "is awesome"
print(my_first_name)

len("redi")
# outputs 4
len('hello, world')
# outputs 12

print(len("redi"))
print(len("hello, world"))

empty = ''
language = "Python"
sentence = "I'm a really long sentence"

print(len(''))
print(len("python"))
print(len("sentence"))

total_lenght = len("") + len("python") + len("I'm a really long sentence")
print(total_lenght)

print(sentence[0])

sentence[0]
print(len("sentence"))

only_really = sentence[6:12]
print(only_really)

my_fullname = (my_first_name +" " + my_last_name)
print(my_fullname)

Intro to CS
asdf
270
54
Andrew
Ochagla
Andrew Ochagla
Andrew Ochagla
Andrew is awesome
4
12
0
6
8
32
I
8
really
Andrew is awesome Ochagla

In [ ]:
empty = ''
language = "Python"
sentence = "I'm a really long sentence"
sentence[0]
only_really = sentence[6:12]
print(only_really)
first_letters = sentence[0:7]
print(first_letters)

really
I'm a r

In [ ]:
word = "Hello"
word[1:2]
word[0:3]
word[:]
word[3:6]
word[2:-2]
word[2:-2]

'l'

In [ ]:
# creating some lists
fruits = ['apple','banana','orange']
stuff = [12, 'asdf', 123.013, [1,2,3]]
len(fruits)
len(stuff)
fruits[:2]
fruits[1:3]
stuff[1:4]

first_names = ["Andrew", "Sandra", "Nathan"]
print(first_names)
first_names[0:3]
len(first_names)
first_2_names = first_names[0:2]
print(first_2_names)

['Andrew', 'Sandra', 'Nathan']
['Andrew', 'Sandra']

In [ ]:
# creating some lists
fruits = ['apple','banana','orange']
stuff = [12, 'asdf', 123.013, [1,2,3]]

fruits.append("mango")
print(fruits)
fruits.remove("apple")
print(fruits)

['apple', 'banana', 'orange', 'mango']
['banana', 'orange', 'mango']

In [ ]:
dog = {"name" : "Bingo"} 
# asign age = 8 to the dictionary of dog
dog['age'] = 8
print(dog)
dog["colour"] = "black"
print(dog)
dog["name"]
dog["colour"]
dog["age"]

list(dog.keys())
list(dog.values())
list(dog.items())

{'name': 'Bingo', 'age': 8}
{'name': 'Bingo', 'age': 8, 'colour': 'black'}

[('name', 'Bingo'), ('age', 8), ('colour', 'black')]

In [ ]:
person = {"first_name" : "Andrew", "last_name": "Ochagla"}
list(person.items())
person["job"] = "programmer"
print(person)
person["first_name"]
person["job"]

list(person.keys())
list(person.values())
list(person.items())

{'first_name': 'Andrew', 'last_name': 'Ochagla', 'job': 'programmer'}

[('first_name', 'Andrew'), ('last_name', 'Ochagla'), ('job', 'programmer')]

In [ ]:
Val_1 = True
Val_2 = not True
print(Val_2)

boolean_val = False
opp_boolean_val = not False
print(opp_boolean_val)

False
True

In [ ]:
a = 1>2
print(a)
1==1
print(1)

1 == "1"
print(1)

2 !="2"
print(2)

2<4

2>3
1 !=2

0 != False

False
1
1
2

False

In [ ]:
ESO = ['mango','orange','grape','lime']
if (len(ESO)) == 4:
  print('true')
else:
  print('false')

true

In [ ]:
word = "Hello!"
word[0]
word[0:4]
word[0:-5]
word[2:]

'llo!'

In [ ]:
ESO = ['mango','orange','grape','lime']
ESO[0:3]
len(ESO)

if len(ESO) == 4:
  print("that is true")
else:
  print("that is false")

if ESO[0] == "mango":
  print('excellent!')
else:
  print('try again!')

if ESO[0:3] == ['mango','orange','grape']:
  print('great job!')
else:
  print('you can do better!')

that is true
excellent!
great job!

In [ ]:
my_list = [1,2,3]
if my_list[-1] == 3:
  print("great job Andrew!")
else:
  print("work harder Andy!")

if my_list[2] == 3:
  print('that is correct!')
else:
  print('das ist nicht richtig!')

if len(my_list) == 3:
  print('true')
elif len(my_list) < 4:
    print('false')
else:
  print("wrong approach!")

great job Andrew!
that is correct!
true

In [1]:
def was_it_sunny(it_was):
  if it_was == True:
    print("Yes!")
  else:
    print("No!")

was_it_sunny(True)
was_it_sunny(False)

Yes!
No!

In [ ]:
def greet(name):
    print('Hello,', name)

greet('Andrew')

Hello, Andrew

In [15]:
def list_of_3_values():
  x = input('enter 1st parameter: ')
  y = input('enter 2nd parameter: ')
  z = input('enter 3rd parameter: ')
  list_of_3_values = [x,y,z]

  print(list_of_3_values)

list_of_3_values()

enter 1st parameter: Andrew
enter 2nd parameter: Sandra
enter 3rd parameter: Nathan
['Andrew', 'Sandra', 'Nathan']

In [17]:
def function_1():
  print("Andrew")
  print("Sandra")
  print("Nathan")

print("This is outside the function")

This is outside the function